*.iml
.DS_Store
.idea/*
.idea/
target/*
target/
*.log
src/main/resources/scripts/overall_launch.sh
src/main/resources/scripts/create_release.sh
src/main/resources/parcel_creation/install_parcel.sh
src/main/resources/parcel_creation/overall_launch.sh
src/main/resources/application.properties
.factorypath
.classpath
.settings
.project
config.properties