# WARNING: These two properties are required to make the spring boot work with all dependencies
server.tomcat.additional-tld-skip-patterns=*.jar
spring.mvc.pathmatch.matching-strategy=ANT_PATH_MATCHER
# When deployed to CDP, should be set to 'cdp'
spring.profiles.active=cdp

# General conf that should be set when starting the program
app.name="Random Data Generator"
hadoop.user=datagen
hadoop.home=/user/datagen
kerberos.user=datagen
kerberos.keytab=datagen.keytab

{% for key, value in globals | dictsort() -%}
{{ key | replace('_', '.') }} = {{ value }}
{% endfor -%}